---
import Layout from '../layouts/Layout.astro';
import TitleHandwritten from '../components/TitleHandwritten.astro'
import SubTitleLight from '../components/SubTitleLight.astro'

---

<Layout title="About Me" description="Learn more about me, and why not work together" isDark/>

<section class="w-full min-h-screen grid grid-cols-1 md:grid-cols-2">
  <!-- Left Side: Image -->
  <div class="h-full">
    <img 
      src="/images/profile_blakcnwhite_low.jpg"
      alt="profile≥"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Right Side: Content -->
  <main class="flex flex-col px-6 py-12 text-white bg-black">
    <div class="max-w-screen-md mx-auto">
    <div class="text-center">
      <TitleHandwritten title="How can I help you ?" />
    </div>

      <div class="mt-10">
        <SubTitleLight title="A brief introduction" />
        <div class="text-justify mt-4 text-lg">
          I see computer science primarily as a <strong>scientific discipline</strong>, applying a <strong>rigorous approach to software engineering</strong>. Domain-Driven Design, Software Craftsmanship, and Agile principles guide both my technical decisions and overall methodology. I also benefited from an international mobility program that enabled me to broaden my horizons and develop my skills in Machine Learning and Big-Data. 
          <br /><br />
          Having had the privilege of receiving a quality education myself, I recognize the importance of preparing the next generation of engineers. Since September 2023, alongside my work as a software engineer, <strong>I have been teaching</strong> Integration and Performance of Information Systems and Software Architecture courses at the university.
        </div>
      </div>

      <div class="mt-10">
        <SubTitleLight title="Field of Studies and Expertises" />
        <div class="bordure my-2"></div>
        <div class="grid md:grid-cols-3 gap-4">
          <ul class="list-disc list-inside">
            <li>Software engineering</li>
            <li>Application Architecture</li>
            <li>Software testing</li>
            <li>Model-driven engineering</li>
          </ul>
          <ul class="list-disc list-inside">
            <li>Middleware</li>
            <li>Concurrent system</li>
          </ul>
          <ul class="list-disc list-inside">
            <li>Machine Learning</li>
            <li>BigData</li>
            <li>Operations research</li>
          </ul>
        </div>
      </div>

      <div class="mt-10">
        <SubTitleLight title="Technical skills" />
        <div class="bordure my-2"></div>
        <div class="grid md:grid-cols-3 gap-4">
          <ul class="list-disc list-inside">
            <li>Java, JEE, Spring</li>
            <li>UML, C4 Model</li>
          </ul>
          <ul class="list-disc list-inside">
            <li>Maven</li>
            <li>Docker, K8S</li>
          </ul>
          <ul class="list-disc list-inside">
          </ul>
        </div>
      </div>




      <div class="mt-20 flex flex-wrap justify-center gap-4">
        <a href="/resources/cv-fr.pdf" class="font-black px-4 py-3 text-white uppercase border-2 border-white hover:bg-white hover:text-black">
          FR
        </a>
        <a href="/resources/cv-en.pdf" class="font-black px-4 py-3 text-white uppercase border-2 border-white hover:bg-white hover:text-black">
          EN
        </a>
        <a href="https://www.linkedin.com/in/adriencaubel" target="_blank" class="px-4 py-2 text-white uppercase border-2 border-white hover:bg-white hover:text-black">
          <i class="text-2xl fa fa-linkedin"></i>
        </a>
        <a href="https://github.com/adrien1212" target="_blank" class="px-4 py-2 text-white uppercase border-2 border-white hover:bg-white hover:text-black">
          <i class="text-2xl fa fa-github"></i>
        </a>
      </div>
    </div>
  </main>
</section>