
<nav class="flex flex-wrap items-center justify-between px-8 md:px-20 p-4 bg-white">
    <div class="w-auto lg:order-2 lg:w-1/5 lg:text-center">
        <a class="text-xl font-bold text-gray-900 font-heading" href="/">
            Adrien CAUBEL
        </a>
    </div>
    <div class="block lg:hidden">
        <button id="btn" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
    </div>
    <div id="menuLinks" class="hidden w-full navbar-menu lg:order-1 lg:block lg:w-2/5 text-base uppercase font-sen">
        <a class="group block mt-4 mr-10 text-black lg:inline-block lg:mt-0" href="https://livre.adriencaubel.fr/" target="_blank">
            <span class="relative after:content-[''] after:block after:absolute after:left-1/2 after:bottom-0 after:w-[40%] after:h-[1px] after:bg-gray-900 after:opacity-0 group-hover:after:opacity-100 after:-translate-x-1/2">
                Book
            </span>
        </a>
        <a class="group block mt-4 mr-10 text-black lg:inline-block lg:mt-0" href="https://blog.adriencaubel.fr/" target="_blank">
            <span class="relative after:content-[''] after:block after:absolute after:left-1/2 after:bottom-0 after:w-[40%] after:h-[1px] after:bg-gray-900 after:opacity-0 group-hover:after:opacity-100 after:-translate-x-1/2">
                Tech Blog
            </span>
        </a>
        <a class="group block mt-4 mr-10 text-black lg:inline-block lg:mt-0" href="https://etreagile.fr/" target="_blank">
            <span class="relative after:content-[''] after:block after:absolute after:left-1/2 after:bottom-0 after:w-[40%] after:h-[1px] after:bg-gray-900 after:opacity-0 group-hover:after:opacity-100 after:-translate-x-1/2">
                Agile
            </span>
        </a>
        <a class="group block mt-4 mr-10 text-black lg:inline-block lg:mt-0" href="https://softwarearchitecture.fr/" target="_blank">
            <span class="relative after:content-[''] after:block after:absolute after:left-1/2 after:bottom-0 after:w-[30%] after:h-[1px] after:bg-gray-900 after:opacity-0 group-hover:after:opacity-100 after:-translate-x-1/2">
                Software Architecture
            </span>
        </a>
    </div>
    <div id="menuLinks" class="hidden w-full navbar-menu lg:order-3 lg:block lg:w-2/5 lg:text-right text-base text-gray-800 uppercase font-sen">
        <a class="group block mt-4 mr-10 text-black lg:inline-block lg:mt-0" href="https://adriencaubel.substack.com/" target="_blank">
            <span class="relative after:content-[''] after:block after:absolute after:left-1/2 after:bottom-0 after:w-[40%] after:h-[1px] after:bg-gray-900 after:opacity-0 group-hover:after:opacity-100 after:-translate-x-1/2">
                Blog
            </span>
        </a>
        <a class="group block mt-4 mr-10 text-black lg:inline-block lg:mt-0" href="/courses/">
            <span class="relative after:content-[''] after:block after:absolute after:left-1/2 after:bottom-0 after:w-[40%] after:h-[1px] after:bg-gray-900 after:opacity-0 group-hover:after:opacity-100 after:-translate-x-1/2">
                Lectures
            </span>
        </a>
        <a class="group block mt-4 mr-10 text-black lg:inline-block lg:mt-0" href="/aboutme/">
            <span class="relative after:content-[''] after:block after:absolute after:left-1/2 after:bottom-0 after:w-[40%] after:h-[1px] after:bg-gray-900 after:opacity-0 group-hover:after:opacity-100 after:-translate-x-1/2">
                About me
            </span>
        </a>
    </div>
</nav>
<style>
 @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

 a {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5 px;
}
</style>

<script>
const button = document.getElementById('btn');

var isOpen = true
if(button) {
    button.addEventListener('click', () => {
        if(isOpen) {
            document.querySelectorAll("#menuLinks").forEach(menu => menu.classList.remove("hidden"));
            isOpen = false
        } else {
            document.querySelectorAll("#menuLinks").forEach(menu => menu.classList.add("hidden"));
            isOpen = true
        }
    });
}
</script>