---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<h1 id="typing-effect" class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl"></h1>

<script define:vars={{ title }}>
const typingElement = document.getElementById("typing-effect");

const textToType = title;

const typingSpeed = 40; // Adjust this value

// Function to simulate typing effect
function typeText(text, index) {
  if (index < text.length) {
	typingElement.innerHTML += text.charAt(index);
	index++;
	setTimeout(function () {
	  typeText(text, index);
	}, typingSpeed);
  }
}

// Start the typing effect
typeText(textToType, 0);

document.addEventListener("DOMContentLoaded", function () {
  setTimeout(function () {
	var buttons = document.querySelectorAll(".introduction");
	buttons.forEach(function (button) {
	  button.classList.remove("hidden");
	  button.classList.add("visible");
	});
  }, 1500);
});
</script>