---
import { Schema } from "astro-seo-schema";
import Header from "../components/Header.astro"

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="64x64" href="favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' https://substackapi.com">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "WebSite",
				"url": "https://adriencaubel.fr",
				"name": "Adrien CAUBEL",
				"description": "Software Engineer, Blogger, YouTuber and Part-time teacher",
				"potentialAction": {
					"@type": "SearchAction",
					"target": "https://adriencaubel.fr/search?q={search_term_string}",
					"query-input": "required name=search_term_string"
				},
				"hasPart": [
					{
					"@type": "WebPage",
					"url": "https://adriencaubel.fr/aboutme.html",
					"name": "About Me",
					"description": "Can we work together ?"
					},
					{
					"@type": "WebPage",
					"url": "https://adriencaubel.fr/courses.html",
					"name": "Courses",
					"description": "All courses"
					}
				]
			}
		</script>
	</head>
	<body class="min-h-screen">
		<Header />
		<slot />
	</body>
</html>
